* {
  box-sizing: border-box;
}

body {
  width: 70%;
  background-color: #634631;
  margin:auto;
}

.color-white {
  color: white;
}

header {
  margin-top: 20px;
  margin-bottom: 0;
}

img {
  width: 100px;
  height: 80px;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  margin-left: 10px;

}



span {
  display: inline-block;
  background-color: orange;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

.color-lightgray {
  background-color: lightgray;
}

#no-color {
  background-color: #FFFFFF;
}

div {
  border: 2px solid black;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  text-align: center;
}

#inline-block {
  display: inline-block;
  font-size: 30px;
}

.black {
  color: black;
}
